@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@900&family=Yeseva+One&display=swap');

body {
  margin: 0px;
}

h1, h2 {
  margin: 0px;
  font-weight: normal;
}

.header {
  color: #503A65;
  background-color: #F7F3FF;
  padding: 28px 50px 28px 50px;

  &__title {
    font-family: 'Yeseva One', cursive;
    font-size: 64px;
  }

  &__subtitle {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
  }
}

.aboutColor {
  background-image: url('../images/fond_site.jpg');
  background-size: cover;
  background-position: center;
  height: 462px;

  &__layer {
    width: 100%;
    height: 100%;

    background-color: rgba(207, 178, 225, .63);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: #000000;
    background-color: rgba(80, 58, 101, .33);
    box-sizing: border-box;
    width: 64%;
    padding: 25px 37px;

    position: relative;

    h2 {
      font-family: 'Yeseva One', cursive;
      font-size: 36px;
      border-bottom: 3px solid #000000;
      display: inline-block;
    }

    p {
      font-family: 'Abel', sans-serif;
      font-size: 24px;
    }

    img {
      position: absolute;
      top: -40px;
      left: -105px;
    }
  }
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;

  &__controls {
    display: flex;
    flex-direction: column;
    width: 53%;
  }

  &__description {
    width: 36%;
    opacity: 0;
    display: none;
    transition: opacity .4s;

    h2 {
      font-family: 'Yeseva One', cursive;
      font-size: 36px;
      border-bottom: 3px solid #000000;
      display: inline-block;
    }

    p {
      font-family: 'Abel', sans-serif;
      font-size: 24px;
      white-space: pre-line;
    }
  }

  &__imageThumbnails {
    display: flex;
    margin-bottom: 15px;
  }

  &__imageThumbnail {
    height: 81px;
    width: 148px;
    background-size: cover;
    background-position: center;

    margin-right: 20px;
    border-radius: 10px;
    opacity: .5;

    cursor: pointer;

    &--selected {
      opacity: 1;
    }

    &--oeuvre1 {
      background-image: url('../images/oeuvre1.jpg');
    }

    &--oeuvre2 {
      background-image: url('../images/oeuvre2.jpg');
    }

    &--oeuvre3 {
      background-image: url('../images/oeuvre3.jpg');
    }
  }

  &__image {
    position: relative;
    overflow-x: hidden;
    width: calc((960 / 770) * 50vh); /* 960 / 770 étant le plus petit aspect ratio parmi toutes les images */
    height: 50vh;

    &--oeuvre1 {
      .imageLine {
        transform: translateX(0px);
      }
    }

    &--oeuvre2 {
      .imageLine {
        transform: translateX(calc((960 / 770) * -50vh - 10px));
      }
    }

    &--oeuvre3 {
      .imageLine {
        transform: translateX(calc((960 / 770) * -50vh * 2 - 20px));
      }
    }

    .imageLine {
      display: flex;
      align-items: center;

      transition: transform 1s;

      img {
        width: calc((960 / 770) * 50vh);
        margin-right: 10px;
      }
    }

    .imageArrows {
      position: absolute;
      top: 0px;
      left: 0px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 100%;

      /*
      Permet de sélectionner les éléments sous l'espace vide de la div
      la div se comporte ainsi comme une simple surcouche de layout
      */
      pointer-events: none;
      * {
        pointer-events: auto;
      }

      img {
        cursor: pointer;
      }
    }

  }
}

.footer {
  background-color: #F7F3FF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  &__brands {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      height: 98px;
    }
  }
}

/* version mobile uniquement */
@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }

  .aboutColor {
    height: 335px;

    &__text {
      padding: 0px;
      width: calc(100% - 40px);
      text-align: center;
      border-radius: 8px;

      h2 {
        padding-top: 18px;
      }

      p {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 18px;
      }

      img {
        display: none;
      }
    }
  }

  .works {
    flex-direction: column;
    padding: 0px;
    width: 100vw;
    justify-content: center;

    &__controls {
      width: 90vw;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    &__description {
      width: 90vw;
      text-align: center;
    }

    &__image {
      width: 100%;
      height: calc((770 / 960) * 90vw);

      &--oeuvre1 {
        .imageLine {
          transform: translateX(0px);
        }
      }

      &--oeuvre2 {
        .imageLine {
          transform: translateX(calc(-90vw - 10px));
        }
      }

      &--oeuvre3 {
        .imageLine {
          transform: translateX(calc(-90vw * 2 - 20px));
        }
      }

      .imageLine {
        img {
          width: 90vw;
        }
      }
    }

    &__imageThumbnails {
      justify-content: space-between;
    }

    &__imageThumbnail {
      background-color: #000000;
      background-image: none;
      margin-right: 0px;
      width: 30%;
      height: 4px;
    }
  }

  .footer {
    flex-direction: column;

    p {
      width: 300px;
      text-align: center;
      margin-top: 28px;
    }

    &__brands {
      justify-content: center;
    }
  }
}

/* version desktop uniquement */
@media screen and (min-width: 769px) {
  .footer {
    height: 136px;

    &__brands {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      /*
      Permet de sélectionner les éléments sous l'espace vide de la div
      la div se comporte ainsi comme une simple surcouche de layout
      */
      pointer-events: none;
      * {
        pointer-events: auto;
      }
    }
  }
}
